@import url(./variables.css);

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("./assets/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Navigation Bar */

.navbar {
  grid-area: navbar;
  background-color: var(--primary-bg-color);
  padding: 10px;
  color: var(--heading-color);
}
.navbar-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: flex-start;
  align-items: center;
}
.company {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.company-name {
  margin-left: 20px;
  justify-self: flex-start;
  display: inline-block;
}
#logo-image {
  width: 50px;
}
.menu-item {
  display: inline;
  margin-right: 10px;
  font-size: 18px;
}
.menu-link {
  color: inherit;
  text-decoration: none;
}
.nav-menu {
  align-self: center;
  justify-self: flex-end;
  margin-right: 10px;
}
.searchDiv {
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: auto auto;
}

#searchInput {
  padding: 5px;
}
#searchBtn {
  background-color: var(--form-secondary-bg-color);
  color: white;
  border: 0px;
  padding: 5px;
}

/* Footer */

.footer {
  grid-area: footer;
  background-color: var(--primary-bg-color);
  display: grid;
  min-height: 50px;
}
.footer-style {
  color: var(--heading-color);
  justify-self: center;
  align-self: center;
}

@media only screen and (max-width: 600px) {
  .navbar-grid {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
  .nav-menu {
    justify-self: center;
    grid-column: 1/2;
    margin-right: 0px;
  }
  .company {
    justify-content: center;
    margin-bottom: 5px;
  }
  .searchDiv {
    margin-bottom: 10px;
    justify-self: center;
  }
}

button {
  cursor: pointer;
}
